<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Pablo Perez Dotel**
Risk Deputy Manager

*Through time working with different types of data, I have realized that the more technology advances, the amounts of information that can be analyzed and the different ways of analyzing them will advance, so being a data scientist is now a excellent idea to go deeper into this universe*

### Aritmetics operations

In [6]:
a=2
b=3
c=4
(a+b)/c

1.25

<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>


* Item 1
* Item 2
* Item 3


[Google](https://www.google.com)